.contact{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 100vw;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
